#button{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.855);
    
    
    
    
    border-radius: 7px;
    height: 200px;
    box-shadow:  0 0 20px #2196f3, 0 0 10px #2196f3, 0 0 20px #2196f3;
}

.hrac1{
    text-shadow: 0 0 14px #EA2027, 0 0 20px #EA2027, 0 0 30px #EA2027;
}
.hrac2{
    text-shadow: 0 0 14px #009432, 0 0 20px #009432, 0 0 30px #009432;
}