*{
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
body{
    background: #031321;
}
.hrac1{
    text-shadow: 0 0 14px #EA2027, 0 0 20px #EA2027, 0 0 30px #EA2027;
}
.hrac2{
    text-shadow: 0 0 14px #009432, 0 0 20px #009432, 0 0 30px #009432;
}